/* Titles */
h1 {
    font-size: 150%;
}

h2 {
    font-size: 100%;
}


/* Banner */
#banner img {
	max-width: 200vw;
}

/* Footer */
footer {
    text-align: center;
}

/* Sticky footer */
body {
    background-color: #e6e6e6;
    color: #414141;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.material-icons.md-48 { font-size: 48px; }