</div>
</main>

<footer class="page-footer blue-grey darken-4 white-text">
    <div class="footer-copyright">
        <div class="container">
            &copy; L. MARAIS - L.CANNAROZZO - T. BERARD - M. ZIZI
        </div>
    </div>
</footer>

</body>
</html>