<%- include('header', {title: 'Machines', leaflet: true, css: [], js: [], banner: true}); -%>
<head>
    <link rel="stylesheet" href="./../public/css/app.css">
</head>
<h1>Bienvenue sur la plateforme de scan de votre réseau</h1>

<div class="row center-align">
    <a class="waves-effect waves-light btn-large indigo darken-3 white-text" onclick="functions.testOnClickButton();"> SCAN<i class="material-icons right">network_wifi</i></a>
</div>

<%- include('footer'); -%>