<%- include('header', {title: 'Machines', leaflet: true, css: [], js: [], banner: true}); -%>
<h1>Bienvenue sur la plateforme de scan de votre réseau</h1>


<div class="row" id="row-id">
    <button class="waves-effect waves-light btn-large indigo darken-1" id="scan_btn"> SCAN<i class="material-icons right">network_wifi</i></button>
    <script>
        $(document).ready(function() {
            $('#scan_btn').click(function() {
                container = document.getElementById('row-id');
                newElement = $(document.createElement('pre'));
                newElement.append(`<p>Scan en cours...</p>`);
                newElement.append(`<div class="progress"><div class="indeterminate"></div></div>`);
                container.appendChild(newElement[0]);
                $.ajax({
                    url: '/scan',
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        container.removeChild(newElement[0]);
                    }
                });
            });
        })
    </script>
</div>

<%- include('footer'); -%>