<%- include('header', {title: 'Machines', leaflet: true, css: [], js: [], banner: true}); -%>
<h1>Bienvenue sur la plateforme de scan de votre réseau</h1>
<h2>Cet outil vous permettra de scanner votre réseau pour en découvrir les potentielles vulnérabilités.</h2>
<h2>Vous pouvez lancer un scan en cliquant ci-dessous, ou bien consulter un scan déjà effectué en consultant une sauvegarde.</h2>


<div class="row" id="row-id">
    <button class="waves-effect waves-light btn-large indigo darken-1" id="scan_btn"> SCAN<i class="material-icons right">network_wifi</i></button>
    <script>
        $(document).ready(function() {
            $('#scan_btn').click(function() {
                container = document.getElementById('row-id');
                newElement = $(document.createElement('pre'));
                newElement.append(`<p>Scan en cours...</p>`);
                newElement.append(`<div class="progress indigo lighten-4"><div class="indeterminate indigo darken-1"></div></div>`);
                container.appendChild(newElement[0]);
                $.ajax({
                    url: '/scan',
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        container.removeChild(newElement[0]);
                        window.location.replace('/database');
                    }
                });
            });
        })
    </script>
</div>
<div>
    <a class="dropdown-trigger waves-effect waves-light btn-large indigo darken-1" href="#" data-target="files">Sauvegardes<i class="material-icons right">sd_storage</i></a>
            <ul id="files" class="dropdown-content grey lighten-2">
                <% files.forEach((file) => { %>
                    <% database_name = "/database/"+file ;%>
                    <li><a href="<%= database_name %>"><%= file %></a></li>
                <% }); %>
            </ul>
</div>

<%- include('footer'); -%>