<%- include('header', {title: 'Machines', leaflet: true, css: [], js: [], banner: true}); -%>
<head>
    <link rel="stylesheet" href="./../public/css/app.css">
</head>
<h1>Bienvenue sur la plateforme de scan de votre réseau</h1>

<%- include('footer'); -%>