<%- include('header', {title: 'Machines', leaflet: false, css: [], js: [], banner: false}); -%>

<div class="row">
    <h1>L'ensemble des machines</h1>
</div>
<div class="row">
    <table class="centered highlight responsive-table">
        <thead class="red accent-1">
            <tr>
                <th colspan="1">Hostname</th>
                <th colspan="1">IP</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>

<%- include('footer'); -%>